body {
    font-family: Arial, sans-serif;
  }
  
  .spritesCollection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }


  div {
    margin-bottom: 20px;
  }
  
  button {
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }